<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeNerve</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/navBar.css">
    <link rel="stylesheet" type="text/css" href="caret-js/caret.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Swipe core CSS -->
    <link href="dist/css/swipe.min.css" type="text/css" rel="stylesheet">
    <!-- import plugin script -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <script>
        window.console = window.console || function(t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
    </head>
    <body>
        <!-- <script type="text/javascript" src="index.js">    </script> -->


        <div class="container-fluid">
            <div class="row">

                <nav class="main-menu">
                    <ul>
                        <li class="has-subnav avatar">
                            <img src="img/face3.png" class="fa fa-2x" style="width: 45px; height: 45px; border-radius: 100%; border: 4px solid #ffea92; box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);">
                            <span style="margin-left: 40px; color:#e2e2e2; font-weight: bold;">
                                    Smart Terminal
                                </span>

                        </li>

                        <li>
                            <a href="index.html">
                                <i class="fa fas fa-terminal fa-2x"></i>
                                <span class="nav-text">
                                                Terminal
                                            </span>
                            </a>

                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-2x"></i>
                                <span class="nav-text">
                                                Graphs and Statistics
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/KirollosNasr/Smart-Terminal/blob/master/README.md">
                                <i class="fa fa-info fa-2x"></i>
                                <span class="nav-text">
                                                Documentation
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/KirollosNasr/Smart-Terminal">
                                <i class="fa fab fa-github fa-2x"></i>
                                <span class="nav-text">
                                                Source Code
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-heart-o fa-2x" ></i>
                                <span class="nav-text">
                                Donate
                          </span>
                            </a>
                        </li>
                    </ul>

                    <ul class="logout">
                        <li>
                            <a href="#">
                                <i class="fa fas fa-users fa-2x"></i>
                                <span class="nav-text">
                                                About Us
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-power-off fa-2x"></i>
                                <span class="nav-text">
                                                Exit
                                            </span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="col-sm-2">
                </div>

                <div class="col-sm-8">
                    <!--<div class="h-100 row align-items-center">
                        <div class="col">
                                    <button class="graphbtn"><i class="a">One Program Usage</i></button>
                                    <button class="graphbtn"><i class="a">Multiple Programs Usage</i></button>
                        </div>
                    </div>-->



                    <div class="container">
                        <!-- line chart canvas element -->
                        <canvas id="buyers" width="600" height="400"></canvas>
                        <!--pie chart canvas element -->
                        <canvas id="countries" width="600" height="400"></canvas>
                        <!-- bar chart canvas element -->
                        <canvas id="income" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="js/script.js"></script>


        <script>
            // line chart data
            var buyerData = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                    {
                        fillColor : "rgba(172,194,132,0.4)",
                        strokeColor : "#ACC26D",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : [203,156,99,251,305,247]
                    }
                ]
            };
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);

            // pie chart data
            var pieData = [
                {
                    value: 20,
                    color:"#878BB6"
                },
                {
                    value : 40,
                    color : "#4ACAB4"
                },
                {
                    value : 10,
                    color : "#FF8153"
                },
                {
                    value : 30,
                    color : "#FFEA88"
                }
            ];
            // pie chart options
            var pieOptions = {
                segmentShowStroke : false,
                animateScale : true
            }
            // get pie chart canvas
            var countries= document.getElementById("countries").getContext("2d");
            // draw pie chart
            new Chart(countries).Pie(pieData, pieOptions);

            // bar chart data
            var barData = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : [456,479,324,569,702,600]
                    },
                    {
                        fillColor : "rgba(73,188,170,0.4)",
                        strokeColor : "rgba(72,174,209,0.4)",
                        data : [364,504,605,400,345,320]
                    }
                ]
            }
            // get bar chart canvas
            var income = document.getElementById("income").getContext("2d");
            // draw bar chart
            new Chart(income).Bar(barData);
        </script>

<!--
        <script>

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function getTrackingData() {

                var xhttp = new XMLHttpRequest();
                let values     = [];
                let dataKeys   = [];
                try {
                    xhttp.open("GET", "http://localhost:9000/usage", false);
                    xhttp.send();
                    let data = JSON.parse(xhttp.responseText)
                    let keys = Object.keys(data);

                    for(var i = 0;i < keys.length;i++) {
                        dataKeys.push(keys[i])
                    }

                    for(var j = 0;j < dataKeys.length;j++) {
                        values.push(data[dataKeys[j]])
                    }

                    return [dataKeys , values]
                }
                catch(e) {
                    return [[],[]]
                }

            }

            function generatePieData(k , v) {
                d = [];
                for(var i = 0;i < k.length;i++) {
                    d.push({
                        value:v[i],
                        label:k[i],
                        color:getRandomColor()
                    })
                }
                return d;
            }

            var data = getTrackingData()
            // line chart data
            var buyerData = {
                labels : data[0],
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : data[1]
                }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);
                



            // pie chart data
            var pieData = generatePieData(data[0],data[1]);
            // pie chart options
            var pieOptions = {
                    segmentShowStroke : false,
                    animateScale : true
            }
            // get pie chart canvas
            var countries= document.getElementById("countries").getContext("2d");
            // draw pie chart
            new Chart(countries).Pie(pieData, pieOptions);
            // bar chart data
            



            var barData = {
                labels : data[0],
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : data[1]
                    }
                ]
            }
            // get bar chart canvas
            var income = document.getElementById("income").getContext("2d");
            // draw bar chart
            new Chart(income).Bar(barData);
            

        </script>
-->

        <!-- <script type="text/javascript", src="index2.js"></script> -->
        <script type="text/javascript" src="caret-js/caret.js"></script>

        <script src="https://static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js"></script>
    </body>
</html>

