<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeNerve</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type='text/css' href="css/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="css/font-face/font-face.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/navBar.css">

    <script type="text/javascript" src="js/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

    <!-- import Chart script -->
    <script src='js/chart/Chart.min.js'></script>

    <script src="js/jQuery/jquery-3.3.1.js"></script>
    <script>
        $(function(){
            $("#navbar").load("navbar.html");
        });
    </script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="navbar"></div>

                <div class="col-sm-2">
                </div>

                <div class="col-sm-8">
                    <div class="container">
                        <!--pie chart canvas element -->
                        <canvas id="monitorPie" width="180" height="180"></canvas>

                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                                <button id="refresh" class="refreshbtn"><i class="a fa fa-refresh" style="font-size:35px"></i></button>
                            </div>
                        </div>

                        <!-- bar chart canvas element -->
                        <canvas id="monitorBar" width="580" height="340"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function getTrackingData() {

                var xhttp = new XMLHttpRequest();
                let values     = [];
                let dataKeys   = [];
                try {
                    xhttp.open("POST", "http://localhost:9000/usage", false);
                    xhttp.send(20);
                    let data = JSON.parse(xhttp.responseText)
                    let keys = Object.keys(data);

                    for(var i = 0;i < keys.length;i++) {
                        dataKeys.push(keys[i])
                    }

                    for(var j = 0;j < dataKeys.length;j++) {
                        values.push(data[dataKeys[j]])
                    }

                    let datake = Object.values(values);
                    let datake2 = Object.values(datake);

                    console.log(`dataKeys: ${dataKeys}`);
                    console.log(`data values: ${datake}`);
                    console.log(`dataKeys: ${datake2}`);
                    //console.log(`dataKeys: ${dataKeys}`);
                    //console.log(`dataKeys: ${dataKeys}`);
                    //console.log(`dataKeys: ${dataKeys}`);

                    console.log(`values: ${values}`);

                    return data;
                }
                catch(e) {
                    return [[],[]]
                }

            }

            function generatePieData(k , v) {
                d = [];
                for(var i = 0;i < k.length;i++) {
                    d.push({
                        value:v[i],
                        label:k[i],
                        color:getRandomColor()
                    })
                }
                return d;
            }


            document.getElementById('refresh').addEventListener('click', () => {
                var data = getTrackingData()

                var pieData = generatePieData(Object.keys(data["total"]),Object.values(data["total"]));
                // pie chart options
                var pieOptions = {
                    segmentShowStroke : false,
                    animateScale : true
                }
                // get pie chart canvas
                var countries= document.getElementById("monitorPie").getContext("2d");
                // draw pie chart
                new Chart(countries).Pie(pieData, pieOptions);
                // bar chart data

                var barData = {
                    labels : Object.keys(data["total"]),
                    datasets : [
                        {
                            fillColor : "#48A497",
                            strokeColor : "#48A4D1",
                            data : Object.values(data["total"])
                        }
                    ]
                }
                // get bar chart canvas
                var income = document.getElementById("monitorBar").getContext("2d");
                // draw bar chart
                new Chart(income).Bar(barData);
            });

            // line chart data
           /* var buyerData = {
                labels : data[0],
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : data[1]
                }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('monitorPie').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);*/

            // pie chart data
        </script>
    </body>
</html>

