<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Smart Terminal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type='text/css' href="css/bootstrap/bootstrap.min.css">
        <link rel='stylesheet' type='text/css' href="css/font-face/font-face.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/navBar.css">
        <link rel="stylesheet" type="text/css" href="css/glitchedText.css">

        <script type="text/javascript" src="js/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="main-menu">
                  <ul>
                    <li class="has-subnav avatar">
                      <img src="img/face3.png" class="fa fa-2x" style="width: 45px; height: 45px; border-radius: 100%; border: 4px solid #ffea92; box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);">
                        <span style="margin-left: 20px; color:#e2e2e2; font-weight: bold;">
                            Smart Terminal
                        </span>

                    </li>

                    <li id= "terminal">
                      <a href="http://justinfarrow.com">
                        <i class="fa fas fa-terminal fa-2x"></i>
                        <span class="nav-text">
                            Terminal
                        </span>
                      </a>
                    </li>
                    <li id = "programsUsage">
                      <a href="graph.html">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                           All Programs Usage
                        </span>
                      </a>
                    </li>
                    <li id = "singleProgramUsage">
                      <a href="graph.html">
                          <i class="fa fa-signal fa-2x"></i>
                          <span class="nav-text">
                                Single Program Usage
                          </span>
                      </a>
                    </li>
                    <li id = "docLink">
                      <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                      </a>
                    </li>
                    <li id="srcCodeLink">
                      <a href="#">
                        <i class="fa fab fa-github fa-2x"></i>
                        <span class="nav-text">
                            Source Code
                        </span>
                      </a>
                    </li>
                    <li id="donateLink">
                      <a href="#">
                          <i class="fa fa-heart-o fa-2x"></i>
                          <span class="nav-text">
                                Donate
                          </span>
                      </a>
                    </li>
                  </ul>

                  <ul class="logout">
                    <li id="aboutLink">
                      <a href="#">
                        <i class="fa fas fa-users fa-2x"></i>
                        <span class="nav-text">
                            About Us
                        </span>
                      </a>
                    </li>
                    <li id="settingLink">
                      <a href="#">
                          <i class="fa fa-gear fa-2x" style="font-size:25px;"></i>
                          <span class="nav-text">
                              Settings
                          </span>
                      </a>
                    </li>
                    <li id="exitLink">
                      <a href="#">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Exit
                        </span>
                      </a>
                    </li>
                  </ul>
                </nav>

                <div class="col-sm-1">

                </div>

                <div class="col-sm-9">
                    <div id="console">
                        <!--js-->
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>

