<nav class="main-menu">
    <ul>
        <li class="has-subnav avatar">
            <img src="img/face3.png" class="fa fa-2x" style="width: 45px; height: 45px; border-radius: 100%; border: 4px solid #ffea92; box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);">
            <span style="margin-left: 20px; color:#e2e2e2; font-weight: bold;">
                            Smart Terminal
                        </span>

        </li>

        <li id= "terminal">
            <a href="index.html">
                <i class="fa fas fa-terminal fa-2x"></i>
                <span class="nav-text">
                            Terminal
                        </span>
            </a>
        </li>
        <li id = "programsUsage">
            <a href="graph.html">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                           All Programs Usage
                        </span>
            </a>
        </li>
        <li id = "singleProgramUsage">
            <a href="oneGraph.html">
                <i class="fa fa-signal fa-2x"></i>
                <span class="nav-text">
                                Single Program Usage
                          </span>
            </a>
        </li>
        <li id = "docLink">
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                            Documentation
                        </span>
            </a>
        </li>
        <li id="srcCodeLink">
            <a href="#">
                <i class="fa fab fa-github fa-2x"></i>
                <span class="nav-text">
                            Source Code
                        </span>
            </a>
        </li>
        <li id="donateLink">
            <a href="#">
                <i class="fa fa-heart-o fa-2x"></i>
                <span class="nav-text">
                                Donate
                          </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li id="aboutLink">
            <a href="#">
                <i class="fa fas fa-users fa-2x"></i>
                <span class="nav-text">
                            About Us
                        </span>
            </a>
        </li>
        <li id="settingLink">
            <a href="#">
                <i class="fa fa-cogs fa-2x" style="font-size:25px;"></i>
                <span class="nav-text">
                      Settings
                </span>
            </a>
        </li>
        <li id="massengerLink">
            <a href="#">
                <i class="fa fas fa-comments-o fa-2x"></i>
                <span class="nav-text">
                    Massenger Mode
                </span>
            </a>
        </li>
        <li id="exitLink">
            <button style="border: none; background: rgba(0,0,0,0.1); width: 198px">
                <i class="fa fa-power-off fa-2x" style="font-size:24px; color: red;"></i>
                <span class="nav-text" style="color: red; padding-right: 104px">
                    Exit
                </span>
            </button>
            </a>
        </li>
    </ul>
</nav>
