.glitch {
    color: #0f0;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

@keyframes noise-anim {
    0% {
        clip: rect(41px, 9999px, 38px, 0);
    }
    5% {
        clip: rect(74px, 9999px, 51px, 0);
    }
    10% {
        clip: rect(85px, 9999px, 58px, 0);
    }
    15% {
        clip: rect(9px, 9999px, 6px, 0);
    }
    20% {
        clip: rect(44px, 9999px, 42px, 0);
    }
    25% {
        clip: rect(91px, 9999px, 83px, 0);
    }
    30% {
        clip: rect(10px, 9999px, 39px, 0);
    }
    35% {
        clip: rect(99px, 9999px, 31px, 0);
    }
    40% {
        clip: rect(45px, 9999px, 55px, 0);
    }
    45% {
        clip: rect(85px, 9999px, 36px, 0);
    }
    50% {
        clip: rect(2px, 9999px, 40px, 0);
    }
    55% {
        clip: rect(71px, 9999px, 89px, 0);
    }
    60% {
        clip: rect(16px, 9999px, 73px, 0);
    }
    65% {
        clip: rect(52px, 9999px, 36px, 0);
    }
    70% {
        clip: rect(7px, 9999px, 21px, 0);
    }
    75% {
        clip: rect(21px, 9999px, 19px, 0);
    }
    80% {
        clip: rect(69px, 9999px, 77px, 0);
    }
    85% {
        clip: rect(56px, 9999px, 9px, 0);
    }
    90% {
        clip: rect(30px, 9999px, 93px, 0);
    }
    95% {
        clip: rect(90px, 9999px, 25px, 0);
    }
    100% {
        clip: rect(21px, 9999px, 63px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: rgba(0,0,0,0.1);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(93px, 9999px, 7px, 0);
    }
    5% {
        clip: rect(5px, 9999px, 75px, 0);
    }
    10% {
        clip: rect(12px, 9999px, 51px, 0);
    }
    15% {
        clip: rect(51px, 9999px, 48px, 0);
    }
    20% {
        clip: rect(15px, 9999px, 12px, 0);
    }
    25% {
        clip: rect(48px, 9999px, 24px, 0);
    }
    30% {
        clip: rect(100px, 9999px, 11px, 0);
    }
    35% {
        clip: rect(42px, 9999px, 85px, 0);
    }
    40% {
        clip: rect(31px, 9999px, 83px, 0);
    }
    45% {
        clip: rect(59px, 9999px, 73px, 0);
    }
    50% {
        clip: rect(20px, 9999px, 90px, 0);
    }
    55% {
        clip: rect(5px, 9999px, 8px, 0);
    }
    60% {
        clip: rect(95px, 9999px, 1px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 41px, 0);
    }
    70% {
        clip: rect(27px, 9999px, 16px, 0);
    }
    75% {
        clip: rect(39px, 9999px, 26px, 0);
    }
    80% {
        clip: rect(81px, 9999px, 28px, 0);
    }
    85% {
        clip: rect(90px, 9999px, 16px, 0);
    }
    90% {
        clip: rect(38px, 9999px, 36px, 0);
    }
    95% {
        clip: rect(40px, 9999px, 71px, 0);
    }
    100% {
        clip: rect(64px, 9999px, 19px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: rgba(0,0,0,0.1);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

