body {
	background: rgba(0,0,0,0.5);

}
#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	font-size:14px;
}

.inputCMD {
	width: 100%;
}

input {
	outline: none;
	background-color: transparent;
	margin: 0;
	width: 90%;
	caret-color: whitesmoke;
	caret-shape: block;
	font: inherit;
	border: none;
	color: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,0.5);
}
.recbtn {
	background-color: rgba(0,0,0,0.3); /* Green */
	border: none;
	width: 32px;
	height: 33px;
	font-size: 10px;
	border-radius: 50%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.recbtn:hover {
	background-color: rgba(0,0,0,0.1); /* Green */
	color: green;
}

.noRecbtn {
	background-color: rgba(0,0,0,0.3); /* Green */
	border: none;
	cursor: not-allowed;
	width: 32px;
	height: 33px;
	font-size: 10px;
	border-radius: 50%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.noRecbtn:hover {
	background-color: rgba(0,0,0,0.1); /* Green */
	color: green;
}
/*.btn-boarder {
	border: 2px solid #fff;
	border-radius: 100%;
}*/
::placeholder {
	color: rgba(255,255,255,0.2);
}
.graphbtn {
	background-color: rgba(0,0,0,0.3);
	font-size: 20px;
	padding: 14px 40px;
	border-radius: 12px;
	cursor: pointer;

}
.graphbtn:hover {
	background-color: rgba(0,0,0,0.1);
}

.refreshbtn {
	background-color: rgba(0,0,0,0.3); /* Green */
	border: none;
	width: 50px;
	height: 50px;
	font-size: 10px;
	border-radius: 50%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.refreshbtn:hover {
	background-color: rgba(0,0,0,0.1); /* Green */
	color: green;
}

.a {
	color: #0f0;
}

.c {
	color: #0bc;
}

.b {
	color: #ff0096;
}

.d {
	color: #0bc;
}

.info {
	color: #00529B;
}

.success {
	color: #4F8A10;
}

.err {
	color: #D8000C;
}

.warn {
	color: #9F6000;
}

#k {
	animation: change 1s;
}

#op{
	color: #888888
}

@keyframes change {
	0%  { color:  #0f0; }
	50% { color:  #0f0; }
	99% { color: black; }
}

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}